{% extends 'base.html.twig' %}

{% block body %}

    <form method="get">
        <input type="text" name="client_ip" placeholder="ip фильтр">
        <button type="submit">Отфильтровать</button>
    </form>

    {% if data %}
        <br/>
        <table border="1">
            <thead>
            <tr>
                <th>url запроса</th>
                <th>запрос (заголовки и тело),</th>
                <th>ответ (заголовки и тело),</th>
                <th>http статус ответа,</th>
                <th>ip клиента,</th>
                <th>время и дата</th>
            </tr>
            </thead>
            <tbody>
            {% for line in data %}
                <tr>
                    <td>{{ line['url'] }}</td>
                    <td>{{ line['request'] }}</td>
                    <td>{{ line['response'] }}</td>
                    <td>{{ line['statusCode'] }}</td>
                    <td>{{ line['clientIp'] }}</td>
                    <td>{{ line['date'].format('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elseif error %}
        <h3>{{ error }}</h3>
    {% else %}
        Данных нет!
    {% endif %}

{% endblock %}
